*,
*::before,
*::after {
    box-sizing: border-box; /* putting a width in a width making it easier for styling*/
}

:root {
    --dark-blue: #1d3557;
    --blue: #457b9d;
    --light-blue: #a8dadc;
    --cream: #f1faee;
    --light-red: #e63946;

    --font-semibold: 600;
    --font-extrabold: 800;
    --font-regular: 400;
    --font-light: 300;
}

body {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    background-color: var(--cream);
    line-height: 1.6;
}

#navBar {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--light-blue);
    height: 60px;
}

#logo {
    height: 60px;
}

#navToggle {
    visibility: hidden;
    background-color: var(--dark-blue);
    list-style: none;
}

#navLink {
    position: relative;
    list-style: none;
    display: flex;
}

#navLink a {
    color: var(--dark-blue);
    text-decoration: none;
    padding: 0 0.5em;
}

#navLink a:hover {
    color: var(--light-red);
    text-decoration: underline;
}

#intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro img {
    border-radius: 50%;
    height: 10rem;
    width: 9.2rem;
    transform: rotate(-25deg);
    margin: 2rem;
    position: relative;
}

.naming {
    font-weight: var(--font-extrabold);
    font-size: 2em;
}

.introTitle {
    font-weight: var(--font-regular);
    font-size: 1em;
    font-style: italic;
}

#contacts {
    background-color: var(--dark-blue);
    height: 13rem;
    color: var(--cream);
    padding: 1rem 0;
    font-size: 1.2em;
}

.email-address {
    font-weight: var(--font-regular);
    padding: 15px 0 15px 0;
    display: flex;
    justify-content: center;
    color: inherit;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 1.4em;
}

.social-links a {
    color: inherit;
}

.social-links_item {
    margin: 0 0.5em;
}

.link {
    padding: 0 0.5em;
}

.email-address:hover, .link:hover {
    color: var(--light-red);
}